* {
	margin: 0px;
	padding: 0px;
}

aside, footer, header, section, nav, p{
	display: block;
}
/*  Styles for the Page Body  */

body {
    width: 100%;
	background: url(images/BackgroundM2.png) top left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: normal;
	/*min-width: 600px;*/
	
}

/* Styles for the Page Header */
header {
    width: 100%;
	min-width: 60%;
    height: 165px;
	margin: 0px auto 8px auto;
	background-color: #5C0B0F;
	border-top: 8px solid black;
	border-bottom: 8px solid black;
    background-repeat: no-repeat;
}

header p {
    text-align: right;
    color: white;
    font-size: 20px;
	font-weight: normal;
    padding:20px 30px 0px 5px;
   
}

header img {
	width: 490px;
	float: left;
}


.smallscreenheader {
    display:none;
}
.smallscreenaside  {
    display:none; 
    width: 90%;
    margin-left: 4%;
    margin-right: 4%;
    padding:10px;
    background-color:  #9CAF95;
    border: 1px solid black;
}

/* Navigation Styles */
nav {
	width: 100%;
    height: 42px;
	margin: 0px auto;
	background-color: #5D090C;
  /*  border: 1px solid green;*/

}

nav ul {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    height: 40px;  
    text-align: center;
    list-style-type: none;
    /* border: 1px solid red;*/
}

nav  li {
	display: block;
	float: left;
    width: 18%;
    height: 40px;
	/*margin-left: 1%;  what to use when turn on a more responsive site*/
	/*margin-right: .7%; what to use when turn responsive site*/
    margin-left: 10px;  /* for some reason auto was not working*/
    margin-right: 6px;
    text-align: center;  
     /*border: 1px solid purple;*/
    
}


nav a{
    display: block;
    height: 32px;
	text-decoration: none;
	font-size: 16pt;
    padding-top: 7px;
    /* border: 1px solid blue;*/
	color: white;
}

nav a:hover {
	color: #9CAF95;
	background-color: #74342B;
}

/* Section Styles */
section  {
	clear:left;
	float: left;
	width: 95%;
	background-color: white;
	padding: 10px;
	margin: 5px 10px;
}
section h1, h2 {
	text-align: center;
	margin-bottom: 20px;
}

section img {
	clear:left;
	float: right;
	width: 200px;
	padding: 10px;
}
section #wallart  img{
	clear:left;
	float: right;
	width: 325px;
	margin-bottom: 30px;
}
section p {
	padding-bottom: 20px;
}

section ul  {
	margin: 10px;
}

section ul li  {
	margin: 5px 5px 0px 30px;
}

table {
	width: 75%;
	border-collapse: collapse;
	text-align: right;
	margin: 20px;
	background-color: #9CAF95;
	border: 2px solid black;
}
table td {
	padding: 5px;
	/*border: 1px solid black;*/
}
table tr:first-of-type, table tr:last-of-type {
	height: 50px;
}

table .cols {
	text-align: right;
	padding-right: 60px;
	/*border: 1px solid black;*/
}
table #state  {
	width: 25px;
}

h4 {
	padding: 10px 0px;
}
#facebook  {
	width: 100px;
	float: left;
	padding-left: 5px;	
}
#pagecontainer {
    width: 70%;  /* what to use when turn on a more responsive site */
    min-width: 800px;
	/*width: 980px;*/
	border-style: solid;
	border-top: 1px;
	border-color: black; 
	background-color: #FFF;
	margin: 20px auto 0px auto;
}

footer {
	clear:left;
	text-align: center;
	background-color: #5D090C;
	color: white;
	padding: 4px;
	border-top: 2px solid black;
}

/**********************************************************************************/
@media screen and (max-width: 1245px) {
    
    header, header p, header img {
     display:none;   
    }
    .smallscreenheader {
        display:block;
        width: 100%;
        min-width: 60%;
        height: 148px;
        margin: 0px auto 8px auto;
        background-color: #5C0B0F;
        border-top: 8px solid black;
        border-bottom: 8px solid black;
        background-repeat: no-repeat;
    }

    .smallscreenheader p {
        display:block;
        text-align: right;
        color: white;
        font-size: 16px;
        font-weight: normal;
        padding:30px 30px 0px 5px;

    }

    .smallscreenheader img {
        display:block;
        width: 460px;
        float: left;
    }
    
    #pagecontainer {
        width: 70%;
        min-width: 826px;
    }
    
    nav a {
        font-size: 14pt;
    }
    
}