* {
	margin: 0px;
	padding: 0px;
}

aside, footer, header, section, nav, p{
	display: block;
}
/*  Styles for the Page Body  */

body {
    width: 100%;
	background: url(images/BackgroundM2.png) top left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: normal;
	/*min-width: 600px;*/
	
}


/* Styles for the Page Header */
header {
    width: 100%;
	min-width: 60%;
    height: 165px;
	margin: 0px auto 8px auto;
	background-color: #5C0B0F;
	border-top: 8px solid black;
	border-bottom: 8px solid black;
    background-repeat: no-repeat;
}

header p {
    text-align: right;
    color: white;
    font-size: 20px;
	font-weight: normal;
    padding:20px 30px 0px 5px;
   
}

header img {
	width: 490px;
	float: left;
}

.smallscreenheader {
    display:none;
}
.smallscreenaside  {
    display:none; 
    width: 90%;
    margin-left: 4%;
    margin-right: 4%;
    padding:10px;
    background-color:  #9CAF95;
    border: 1px solid black;
}


/* Navigation Styles */
nav {
	width: 100%;
    height: 42px;
	margin: 0px auto;
	background-color: #5D090C;
   /* border: 1px solid green;*/

}

nav ul {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    height: 40px;  
    text-align: center;
    list-style-type: none;
   /* border: 1px solid red; */
}

nav  li {
	display: block;
	float: left;
    width: 18%;
    height: 40px;
	margin-left: 1%; /* what to use when turn on a more responsive site*/
	margin-right: .7%; /*what to use when turn responsive site*/
    /*margin-left: 10px;   for some reason auto was not working*/
    /*margin-right: 6px;
    text-align: center;  
    /* border: 1px solid purple; */
    
}


nav a{
    display: block;
    height: 32px;
	text-decoration: none;
	font-size: 16pt;
    padding-top: 7px;
    /* border: 1px solid blue; */
	color: white;
}

nav a:hover {
	color: #9CAF95;
	background-color: #74342B;
}


/* Menu navigation */

ul.navb {
	clear:left;
    float: left;
    height: auto;
	list-style-type: none;
	margin-left: 30px;
	margin-top: 20px;
	/*border-bottom: 1px solid black;*/
}
ul.navb li {
	display: inline;
}

ul.navb li a {
	border:1px solid black;
	border-bottom: none;
	text-decoration: none;
	padding: 5px 15px;
	background-color: #9CAF95;
	color: black;
	font-weight: bold;
}
ul.navb li a:hover {
	border:1px solid black;
	border-bottom: none;
	padding: 5px 15px;
	background-color: #74342B;
	text-decoration: underline;
	color: white;
}

/* Section Styles */

#pagecontainer {
    width: 70%;  /* what to use when turn on a more responsive site */
    min-width: 700px;
    /*width: 980px;*/
    border-style: solid;
    border-top: 1px;
    border-color: black; 
    background-color: #FFF;
    margin: 20px auto 0px auto;

}
section  {
    width: 90%;
    background-color: white;
    padding: 4px 4px;
    margin: 20px auto 10px auto;
}
/*
 #pagecontainer section  {
	margin: 20px 10px 10px 10px;
	padding-top: 50px;
}
*/
/* Menu page styles*/

#pagecontainer iframe {
	width: 90%;
    min-width: 810px;
	height: 500px;
    margin: 5px auto 20px auto;
	padding: 10px 10px 20px 10px;
	border: 5px solid #9CAF95;
    
}

footer {
	clear:both;
	text-align: center;
	background-color: #5D090C;
	color: white;
	padding: 4px;
	border-top: 2px solid black;
}

/**********************************************************************************/
@media screen and (max-width: 1270px) {
    header, header p, header img {
        display:none;   
    }
    .smallscreenheader {
        display:block;
        width: 100%;
        min-width: 60%;
        height: 148px;
        margin: 0px auto 8px auto;
        background-color: #5C0B0F;
        border-top: 8px solid black;
        border-bottom: 8px solid black;
        background-repeat: no-repeat;
    }

    .smallscreenheader p {
        display:block;
        text-align: right;
        color: white;
        font-size: 16px;
        font-weight: normal;
        padding:30px 30px 0px 5px;

    }

    .smallscreenheader img {
        display:block;
        width: 460px;
        float: left;
    }
    
    section  {
        display:block;
        width: 90%;
        background-color: white;
        padding: 4px 4px;
        margin: 10px auto 10px auto;
    }

    #pagecontainer {
        width: 70%;
        min-width: 620px;
    }
    
    nav a {
        font-size: 14pt;
    }
    
    #pagecontainer iframe {
        width: 90%;
        min-width: 555px;
        height: 500px;

    }
}
