

/* Menu navigation */

ul.navb {
	clear:left;
    float: left;
    height: auto;
	list-style-type: none;
	margin-left: 30px;
	margin-top: 20px;
	/*border-bottom: 1px solid black;*/
}
ul.navb li {
	display: inline;
}

ul.navb li a.chosen {
    border:1px solid black;
	border-bottom: none;
	padding: 5px 15px;
	background-color: #74342B;
	color: white;
}

ul.navb li a {
	border:1px solid black;
	border-bottom: none;
	text-decoration: none;
	padding: 5px 15px;
	background-color: #9CAF95;
	color: black;
	font-weight: bold;
}

ul.navb li a:hover {
	border:1px solid black;
	border-bottom: none;
	padding: 5px 15px;
	/*background-color: #74342B;*/
    background-color: #888;
	text-decoration: underline;
	color: white;
}

/* Section Styles */

#pagecontainer {
    width: 70%;  /* what to use when turn on a more responsive site */
    min-width: 720px;
    /*width: 980px;*/
    border-style: solid;
    border-top: 1px;
    border-color: black; 
    background-color: #FFF;
    margin: 20px auto 0px auto;

}
section  {
    width: 90%;
    background-color: white;
    padding: 4px 4px;
    margin: 20px auto 10px auto;
}
/*
 #pagecontainer section  {
	margin: 20px 10px 10px 10px;
	padding-top: 50px;
}
*/
/* Menu page styles*/

#pagecontainer iframe {
	width: 90%;
    min-width: 810px;
	height: 500px;
    margin: 5px auto 20px auto;
	padding: 10px 10px 20px 10px;
	/*border: 5px solid #9CAF95;*/
    border: 5px solid #74342B;
}

footer {
	clear:both;
	text-align: center;
	background-color: #5D090C;
	color: white;
	padding: 4px;
	border-top: 2px solid black;
}

/**********************************************************************************/
@media screen and (max-width: 1270px) {
   
    
    section  {
        display:block;
        width: 90%;
        background-color: white;
        padding: 4px 4px;
        margin: 10px auto 10px auto;
    }

    #pagecontainer {
        width: 70%;
        min-width: 640px;
    }
    
    #pagecontainer iframe {
        width: 90%;
        min-width: 555px;
        height: 500px;

    }
}
